[2015-12-11 10:54] hudochenkov opened #1 "Handle multiple consecutive comments"
Config: `{ "sort-order": [ ["border-bottom", "font-style"] ] }`

Input:

[code]

Expected output:

[code]

Current output:

[code]

[2015-12-11 11:01] hudochenkov opened #2 "Sort prefixed properties without explicit specifying in config"
If property in input have prefix and prefixed property not in the config then search config for unprefixed property name and use it if there is one.

[2015-12-11 11:02] hudochenkov opened #3 "Check if plugin is messing with source maps"

[2015-12-11 11:04] hudochenkov opened #4 "Check postcss-scss parser support"
https://github.com/postcss/postcss-scss

[2015-12-11 11:05] hudochenkov opened #5 "Add CLI"
Is this really need?

What name to use? `$ postcss-sorting`?

[2015-12-11 11:06] hudochenkov opened #6 "Create Sublime Text plugin"
Using this plugin in code editor is the main purpose for this plugin for me :)

[2015-12-11 11:44] #1 closed

[2015-12-15 22:09] ai opened #7 "Put options above"
Examples are very important for understanding wht plugin does.

So, maybe we should put it befoore `Usage`, not after?

[2015-12-15 22:10] ai commented on #7
ALso I think you can remove `PostCSS` and `Node` section, because you are not common PostCSS plugin because you should work with origin sources.

[2015-12-16 11:37] #7 closed

[2015-12-17 12:53] hudochenkov commented on #6
Here it is :) https://github.com/hudochenkov/sublime-postcss-sorting

[2015-12-17 12:53] #6 closed

[2015-12-17 14:05] #4 closed

[2015-12-17 15:39] #2 closed

[2015-12-19 12:15] evgenTraytyak opened #8 "Pseudo elements sorting"
@hudochenkov What do you think about sorting nested pseudo elements?
[code]

[code]

[2015-12-19 12:25] evgenTraytyak commented on #8
[code]

[2015-12-19 13:13] hudochenkov commented on #8
Do you think this is really need? What if selector is `&::before, &::after` or `&::after, &::before` or `&:hover::after`? I don't think this kind of sorting is needed. Implementing this will bring much mess in plugin and may mess with CSS a lot in case of tricky selector.

[2015-12-19 13:31] evgenTraytyak commented on #8
Yes, it's really need.
Assume some dirty code like this:
[code]

And I want to put pseudo elements properties  at the beginning of `.block` , then nested elements.

[code]

[2015-12-19 15:53] hudochenkov commented on #8
What behaviour should be if there is selectors like `&::before, &::after`? Or `&::after, &::before`? Or `&:hover::after`?

[2016-02-18 17:46] tomagladiator opened #12 "Sort by length"
Hello,

I would like to share with you the way I sort my CSS properties:
I sort my CSS properties by length:

Wrong:
[code]

Good:
[code]

postcss-sorting should support this :+1: #

Thanks :)

[2016-02-18 18:06] hudochenkov commented on #12
I'm sorry, why you do sort this way? I can't see any practical reason. It's maybe a little prettier, but it won't add any practical use. postcss-sorting is for better code maintainability, but visual sorting is not adding anything to maintainability. When there is a need to change something, we aren't thinking about changing properties with average length, we thinking about typography, or box mode

[2016-02-18 19:07] tomagladiator commented on #12
You right, and I fully understand this.

Nevertheless, because I work on big projects with a lot of colleagues, I want to quickly "feel" if the code is well done. When I see an unorganized SCSS, it looks like wrong for me. Of course, It's very subjective and the result could be perfect too.
Why I use this method? Well, you right, I just want to work with prettier code, it's more pleasant.
It's not

[2016-02-18 19:07] #12 closed

[2016-03-10 22:27] #3 closed

[2016-03-27 16:34] ai opened #13 "Add link to perfectionist"
CSSComb could fix code style too. So maybe we should add [perfectionist](https://github.com/ben-eb/perfectionist) link to doc?

[2016-03-27 16:37] scalder27 commented on #13
±1
It would be great!

[2016-03-28 06:00] hudochenkov commented on #13
Good point! Added in 8f99a83.

[2016-03-28 06:00] #13 closed

[2016-04-04 17:34] sturobson opened #14 "adding a custom config file"
Hi, I'm trying to introduce this into my clients workflow. As part of their CSS styleguide we are ordering CSS alphabetically. I see this isn't a current config option so I've made a start on one - https://gist.github.com/sturobson/aa6fad643b45891f5725d4e4f827eeeb - the question is -- how can I easly add this? I guess it's possible to drop the file into where your existing templates are but it'd b

[2016-04-04 19:22] hudochenkov commented on #14
Hi, you can specify any sort order as `sort-order` option. For example, if you use gulp and want to store all postcss-sorting config (including sort order) in a separate JSON file, you can `require` this file and pass this object to plugin.

[code]

[2016-04-10 01:00] mrmlnc opened #15 "Add VS Code plugin"
Hi, Aleks!

I created a plugin for [VS Code](https://code.visualstudio.com/) based on your package. If you want, you can add information about it in the README that repository.

Marketplace: https://marketplace.visualstudio.com/items?itemName=mrmlnc.vscode-postcss-sorting
GitHub: https://github.com/mrmlnc/vscode-postcss-sorting

Best regards,
Denis Malinochkin

[2016-04-10 08:42] hudochenkov commented on #15
Thank you! I added it 1d399ef.

[2016-04-10 08:42] #15 closed

[2016-04-16 17:06] juwain opened #16 "Empty lines between @media rules"
I have such config (`…` means large array of ordered properties):
[code]

This config in action:
[code]

Is it possible to add an empty line between `@media` constructions too, like between spans?

[2016-04-26 11:43] hudochenkov commented on #16
Currently there is no ability to do this, but I'll add this soon.

[2016-04-27 17:00] spAnser opened #17 "Unknown Word Error on variable"
[code]
[code]

Using an atom plugin to run PostCSS but removing removing $color and leaving #{} allows it to process the file.

[2016-04-27 17:31] hudochenkov commented on #17
Seems like it's Atom plugin problem and not postcss-sorting problem. What is your config?

[2016-04-28 10:23] okonet opened #18 "Possible merge with stylefmt?"
[stylefmt](https://github.com/morishitter/stylefmt) looks promising but it lacks this feature. I'm wondering if this project can be a part or be used by stylefmt.

[2016-04-28 10:37] hudochenkov commented on #18
I don't think we can merge it, but we can use postcss-sorting as dependency in stylefmt. There are some caveats we should think through. stylefml has no options, only stylelint config can change stylefmt behaviour. postcss-sorting has options and it's essential part of plugin.

[2016-04-28 10:45] okonet commented on #18
Can https://github.com/stylelint/stylelint/blob/master/src/rules/declaration-block-properties-order/README.md be used or these 2 configs are completely incompatible?

[2016-04-28 12:25] hudochenkov commented on #18
These configs compatible only in simple situation like: `["transform", "top", "color"]`, array of properties. Otherwise they are not compatible.

[2016-04-28 14:41] spAnser commented on #17
I used [atom-postcss-sorting](https://github.com/lysyi3m/atom-postcss-sorting) with default configuration

[2016-04-28 14:54] hudochenkov commented on #17
Please open this issue in atom-postcss-sorting repository, because it is an issue with Atom plugin, not with postcss-sorting.

[2016-04-28 14:54] #17 closed

[2016-04-28 15:17] juwain commented on #16
Thanks, that'll be great!

[2016-04-29 15:23] hudochenkov commented on #16
New option [`empty-lines-between-media-rules`](https://github.com/hudochenkov/postcss-sorting#empty-lines-between-media-rules) added in 1.4.0.

[2016-04-29 15:23] #16 closed

[2016-04-29 15:33] juwain commented on #16
wohoo, great! 🎉

[2016-04-29 16:05] juwain commented on #16
OK, the is an empty line between media-rules now, but there is also an additional line between media-rule and between child rule. I think there should be 1 empty line too.

[code]

[2016-04-29 16:26] juwain opened #19 "Empty lines between @media and child rules"
Thanks for fixing https://github.com/hudochenkov/postcss-sorting/issues/16! There is one more issue I think.

OK, there is an empty line between media-rules now, but there is also an additional line between media-rule and between child rule. I think there should be 1 empty line too.

[code]

Config is such:
[code]

[2016-04-29 16:49] hudochenkov commented on #19
Sorry about that. Fixed in 1.3.1

[2016-04-29 16:49] #19 closed

[2016-04-29 17:03] juwain commented on #19
Thanks! I will PR for atom plugin.

[2016-05-03 21:04] efedorenko opened #20 "An option to not change empty lines"
It would be great to have a way to completely disable `empty-lines-between-children-rules` and `empty-lines-between-media-rules`. I use empty lines to group related properties together, and right now all this organization gets removed every time I run `postcss-sorting`.

P.S. Thanks for the awesome plugin! It's a huge time saver in cleaning up a big old codebase.

[2016-05-03 21:08] hudochenkov commented on #20
These options are disabled by default. What config do you have? What is your input CSS and what is your desired output?

[2016-05-03 21:19] efedorenko commented on #20
I use a custom config that doesn't specify either of these rules, but a documentation says that by default they are set to `0`.

In this case, whitespace before `.weekday` was removed:

[code]

And in that case an empty line after `@extend` was added:
[code]

It _seems_ like only properties with pseudo-elements and pseudo-classes are affected.

[2016-05-03 21:45] hudochenkov commented on #20
This plugin removes all empty lines and adds them after sorting process where configuration says. Empty lines added only before groups. Only by removing all empty lines plugin can be sure that additional lines not added when you run plugin over and over.

All these selectors treated equally:

[code]

The plugin doesn't know this is pseudo-element or not. It's all treated as `>child` in `sort-order

[2016-05-03 21:52] efedorenko commented on #20
Oh, totally forgot about grouping. Thanks for a hint and for considering an option to preserve empty lines. It can be tolerated in a lot of places, but some of them get really annoying. For example:
[code]

Empty lines around comment get removed.

[2016-05-03 22:06] hudochenkov commented on #20
If you have more examples (different from what you showed before) where plugin behave not like you want, feel free to share.

[2016-05-04 19:12] efedorenko commented on #20
After processing a project with ~450kb of SCSS I'd say that all cases when plugin removed important empty lines fall into two categories:

1. When nested selectors were grouped together by some principle (like in `.weekday`example).
2. When facing comments, both `//` and `/* ... */`.

Everything else worked exactly as intended, which is great! Just for the reference, here is my config: https://git

[2016-05-08 17:25] hudochenkov commented on #20
I've added new option in `1.4.0`:

[code]

Tell me if something wrong :)

[2016-05-10 16:01] efedorenko opened #21 "Problem with config?"
Hi Aleks,

I've been strugling with adding option `preserve-empty-lines-between-children-rules` (or `empty-lines-between-children-rules`, or `empty-lines-between-media-rules` for that matter) to my config file. Here is my config and how I run it: https://github.com/wildbit/postcss-sorting-config-wildbit

As long as config JSON has only `sort-order` option it works fine, but when I add anything els

[2016-05-10 19:11] hudochenkov commented on #21
Have you try this?

[code]

If you do and plugin fails, can you share a file what cause plugin to fail?

[2016-05-11 00:25] efedorenko commented on #21
With your reduced config I found a piece of SCSS that breaks postcss-sorting:

[code]

It's actually the comment that makes it fail. Hope that helps :)

[2016-05-11 00:43] efedorenko commented on #20
Thanks for a fix, Aleks! 👍

It works as intended in most cases now, but somehow still fails a couple times on a project. It's hard to figure out why exactly, as other similar places were handled correctly. A few samples:

[code]

Empty line after comment (but not before) gets removed.

[code]

Empty lines around comment get removed.

[code]

Empty lines around `//` comment get removed.

[2016-05-11 05:39] hudochenkov commented on #20
All these empty lines removed because new option preserves empty lines only _between_ children rules and comments between them. Right as you asked for :)

I have thought. Preserving empty lines is tricky because a result is unpredictable. What if I add new options: `empty-lines-before-comment` and  `empty-lines-after-comment`. This options will add empty lines before and after any comment in a rul

[2016-05-11 05:41] hudochenkov commented on #21
Thank you! I'll fix this today.

[2016-05-11 09:39] wc-matteo opened #22 "Disable sorting for some properties at declaration-time"
Something I would find useful, is beeing able to mark (e.g. with a comment) a point where the processor should stop sorting:

[code]

[2016-05-11 09:59] hudochenkov commented on #21
Fixed in `1.4.1`.

[2016-05-11 09:59] #21 closed

[2016-05-11 10:06] hudochenkov commented on #22
I'm wondering about causes to do that. Can you explain, please, why it might be useful?

[2016-05-11 10:18] wc-matteo commented on #22
I'm using [postcss-initial](https://github.com/maximkoretskiy/postcss-initial); by default it adds a fallback for browsers not supporting the value.

So...

[code]

becomes:

[code]

If I want to override some properties (in the same declaration), I can't if I use `postcss-sorting`:

[code]

becomes:

[code]

and in browsers that support `initial`, the final value of display is `inline`, not `bloc

[2016-05-11 10:25] hudochenkov commented on #22
This plugin is more for sorting source files. The main purpose is to have organized sources so work with them will be more convenient. Is there a reason to sort output files?

[2016-05-11 10:36] wc-matteo commented on #22
To have something beautiful to show to the world (before it gets minified)? :P

Using it on source files, though:

[code]

I get:

[code]

Shouldn't _@at-rules_ not mentioned in the `sort-order` option be inserted after all the sorted _properties_?

[2016-05-11 10:39] hudochenkov commented on #22
Can you share your config, please?

[2016-05-11 10:41] wc-matteo commented on #22
Ah! I took my first look at the `default` config... and now it's pretty clear why! :)

[2016-05-11 10:43] wc-matteo commented on #22
Are predefined configs extendable?

[2016-05-11 10:44] hudochenkov commented on #22
No, they are not.

[2016-05-11 10:44] hudochenkov commented on #22
So as we can't find any legit reason to add a feature from the starter message, I'm closing this issue.

Feel free to ask any question about config :)

[2016-05-11 10:44] #22 closed

[2016-05-11 10:45] wc-matteo commented on #22
All right. Thank you!

[2016-05-11 10:55] wc-matteo commented on #22
Thinking some more about, it would be nice to have a way to change the sorting inside the css: in this case, I'd need to add every `@apply` that I want to be sorted last to the config (or viceversa)... and it's seems to me the wrong place... maybe the same apply has to come first or last depending on context?

[2016-05-11 11:01] hudochenkov commented on #22
Can you provide the example, please? Put `@apply` before any properties seems a bulletproof position. Because in that case you can override any content of `@apply` if you need.

[2016-05-11 11:02] wc-matteo commented on #22
Yes, that's normally the case. But as I shown with:

[code]

that `@apply` should stay where it is.

[2016-05-11 11:14] hudochenkov commented on #22
You can do crazy stuff in config :) All `@apply` will be in one place, but `@apply --my-initial` will be in another place.

Config:

[code]

Before:

[code]

After:

[code]

[2016-05-11 12:46] wc-matteo commented on #22
Yes, that's nice to have, but as I've said: I'd need to add every `@apply` that I want to be sorted last to the config (or viceversa)... and besides, if one `@apply --my-initial` has to go at the top and another `@apply --my-initial` has to go to the bottom? The config isn't well suited to certain scenarios...

I would propose a way to signal the beginning and stop of the sorting inside a declarat

[2016-05-11 13:27] hudochenkov commented on #22
I think adding this complication to plugin will lead only to complicated stylesheets, and too fragile plugin code. Sorry, I won't do this.

[2016-05-11 13:28] wc-matteo commented on #22
That's ok; it's understandable. Thanks anyway!

[2016-05-11 15:04] efedorenko commented on #21
Works great! Thank you 👍

[2016-05-11 15:24] efedorenko commented on #20
I wonder how this will work with different types of comments? For example:

[code]

In this example I have 3 types of comments — a major section, an element, and a comment on some properties. All of them have different numbers of surrounding empty lines. Not sure if this is something that can be automatically managed, as it really depends on human's evaluation. What do you think?

P.S. I an not to

[2016-05-11 16:02] hudochenkov commented on #20
This plugin process only comments inside rules. So only `// Nasty hack` will be processed.

[2016-05-11 19:35] efedorenko commented on #20
Oh, then I think it makes total sense.

[2016-05-12 17:38] ghost opened #23 "File config for sorting styles"
It will be usefull with file config with rules for sorting styles. For example we can use filename with .psortingrc file with rules for sorting

[2016-05-12 18:02] hudochenkov commented on #23
I'll think about it. Meanwhile you can use external file for storing a config if you use Gulp or Grunt. You can see an example of using external config in Gulp at this repository https://github.com/wildbit/postcss-sorting-config-wildbit

[2016-05-12 18:04] hudochenkov commented on #14
Is everything ok? Can I close the issue?

[2016-05-12 18:04] #8 closed

[2016-05-12 18:10] uharbachou commented on #23
Yeah, thanks a lot, right now i use it how in gulp example. It not so hard, but easier file with specific extension for configuration.

[2016-05-15 15:59] hudochenkov commented on #20
I've added two new options [`empty-lines-before-comment`](https://github.com/hudochenkov/postcss-sorting#empty-lines-before-comment) and [`empty-lines-after-comment`](https://github.com/hudochenkov/postcss-sorting#empty-lines-after-comment) in `1.5.0`. I believe this is what you've wanted :)

[code]

[2016-05-16 02:05] efedorenko commented on #20
This is fantastic! Thanks a lot, Aleks! 👍

[2016-05-16 05:34] hudochenkov commented on #20
You're welcome :)

[2016-05-16 05:34] #20 closed

[2016-05-16 20:09] danielbayley commented on #23
See also my proposed algorithm for [atom-postcss-sorting](https://github.com/lysyi3m/atom-postcss-sorting/pull/13/commits/b0f7367401c4521441ff0709a19ae28a6b02912b).

[2016-05-16 20:09] danielbayley commented on #14
See also my proposed algorithm for [atom-postcss-sorting](https://github.com/lysyi3m/atom-postcss-sorting/pull/13/commits/b0f7367401c4521441ff0709a19ae28a6b02912b).

[2016-05-18 15:16] hlomzik commented on #5
I use it like `postcss -u postcss-sorting -s postcss-scss some.scss`. And it just works :)
The only disturbing thing here is the necessary prefix "postcss-".

[2016-05-21 10:59] hudochenkov opened #24 "Wrong sorting with last comment"
Input:

[code]

Output:

[code]

With every run it's getting worse.

[2016-05-22 09:53] fliptheweb opened #25 "Detect difference between @include foo; and @include foo { } (with content)"
In Sass syntax I prefer to sort mixins with content to the end of the rules. For example:

[code]

Is it rare/only my usecase?

UPD:
That link proof that's not only my case and `sass-lint` detect the same sorting https://github.com/brigade/scss-lint/blob/master/lib/scss_lint/linter/README.md#declarationorder

[2016-05-23 09:52] hudochenkov commented on #25
You can [specify mixins by their names](https://github.com/hudochenkov/postcss-sorting#at-rules) in `sort-order` and place it in the end. For your example a config may looks like:

[code]

So mixins with the name `mixin-with-content` (despite they have or haven't content) will always be at the end.

[2016-05-23 10:57] fliptheweb commented on #25
@hudochenkov Yep, but it's actually looks like a workaround, because i have at least 5-10 mixins with content in each project :)

[2016-05-23 11:09] hudochenkov commented on #25
I'll look what I can do. Meanwhile, you can use a “workaround” :)

[2016-05-24 12:12] leshkovichpvl opened #26 "Wrong position variables in function SCSS"
Input:
<pre>
@function _linear-positions-parser($pos) {
  $type: type-of(nth($pos, 1));
  $spec: null;
  $degree: null;
  $side: null;
  $corner: null;
  $length: length($pos);
  // Parse Side and corner positions
  @if ($length > 1) {
    @if nth($pos, 1) == "to" { // Newer syntax
      $side: nth($pos, 2);

      @if $length == 2 { // eg. to top
        // Swap for backwards compatibility

[2016-05-27 16:52] efedorenko commented on #26
I had a similar problem when variable assigned in the end of `@each` loop was moved to the beginning, breaking the whole calculation.

[2016-05-27 17:28] hudochenkov commented on #26
I'm going to add ignore comments, to skip sorting in needed places. Like stylelint's `/* stylelint-disable */ /* stylelint-enable */` http://stylelint.io/user-guide/configuration/#turning-rules-off-from-within-your-css

[2016-06-01 20:02] hudochenkov opened #27 "Wrong position for custom properties"
Should be sorted as variables in order they defined.

Before:

[code]

After:

[code]

[2016-06-02 08:08] ImBrek opened #28 "Not displaying errors when run postcss-sorting via npm"
Hi,
I'm trying run postcss-sorting via npm, all works, but if scss files have errors, npm do not display errors, hovewer run command without npm output errors to console

Command:
[code]
File with errors:
[code]

[2016-06-02 08:17] hudochenkov commented on #28
To work with SCSS files you should use [postcss-scss](https://github.com/postcss/postcss-scss) syntax so PostCSS can parse your files. Install postcss-scss syntax and then run this command:

[code]

[2016-06-02 08:25] ImBrek commented on #28
Thank you. It works.

[2016-06-02 08:25] #28 closed

[2016-06-05 03:39] jeddy3 commented on #18
FYI, in `stylelint@7.0.0` [we're going to](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/release-planning.md) reduce the scope of `declaration-block-properties-order` to, as the name implies, check only the order of properties within a declaration block. Our hope is that the community develops a more powerful `block-structure` plugin, which is concerned with not only the order

[2016-06-05 06:06] hudochenkov commented on #18
@jeddy3 Thank you for an excellent suggestion what to do and tips! I am very interested in making `postcss-sorting` part of a `stylelint` and `stylefmt`. I'll fix some bugs and then will start to work on integration to `stylelint`.

[2016-06-11 06:43] #27 closed

[2016-06-11 06:43] #24 closed

[2016-06-11 13:54] hudochenkov commented on #25
I have doubts about this feature. scss-lint has general approach to sorting. It is looking for `@include`, `@extend` and `@include` with inner content only. In my plugin order can be more specific:

* `@atrule` — any at-rule.
* `@atrulename` — any at-rule with a specific name. Ex., `@media` or `@mixin`.
* `@atrulename parameter` — any at-rule with specific name and parameter. Ex., `@mixin clearfix

[2016-06-11 14:14] hudochenkov commented on #26
With `postcss-sorting@1.6.0` you can disable sorting for some parts of style sheets:

[code]

[2016-06-11 14:14] #26 closed

[2016-06-12 06:08] andrew--r opened #30 "Parameters to add empty lines before or after children rules and @rules"
Hello.

I'd like to have an ability to add empty lines before or after children rules and at-rules. Right now we can only specify number of empty lines *between* rules of similar type (like children or at-rules), but it's not too practical.

Instead of this:
[code]

we should have something like this:

[code]

I suggest to replace parameters `empty-lines-between-media-rules` and `empty-lines-betwe

[2016-06-17 13:30] hudochenkov commented on #30
You can achieve desired result with this config:

[code]

`sort-order` is array of arrays. Each array is a group and groups devided by empty line. There is no empty lines inside group, so `empty-lines-between-children-rules` and `empty-lines-between-media-rules` were added to fix this.

[2016-06-18 04:30] andrew--r commented on #30
Cool, thanks a lot!

[2016-06-18 04:30] #30 closed

[2016-06-23 17:30] efedorenko commented on #26
Thanks Aleks, this is great!

[2016-07-02 13:04] gajus opened #32 "group.forEach is not a function"
Trying to format this CSS:

[code]

Using https://github.com/gajus/stylelint-config-canonical (v1.0.2) config, gives an error:

[code]

Upon inspection, [`sortOrder`](https://github.com/hudochenkov/postcss-sorting/blob/master/index.js#L42) is:

[code]

This does not look like an expected format.

Regardless, the input format meeds the schema defined in https://github.com/stylelint/stylelint/blob/m

[2016-07-02 15:20] hudochenkov commented on #32
Stylelint config is not fully compatible with this plugin yet. https://github.com/gajus/stylelint-config-canonical/commit/2c58f1900257b7e3085a41d5e764f71c01101449#diff-33d8a40ae0050661239a87463149dcafR4 array of arrays will be a correct config for PostCSS Sorting.

[2016-07-02 17:31] gajus commented on #32
@hudochenkov Would you accept a PR that makes this change? or is there a reason this is on hold (since it does not look like a big change)

[2016-07-02 18:00] hudochenkov commented on #32
It's a big change because it would broke plugin backwards compatibility. Grouping in this plugin allows to group declarations, nested rules, at-rules. See [default config](https://github.com/hudochenkov/postcss-sorting/blob/master/configs/default.json). Stylelint only support grouping for declarations only.

We are working now on a plugin for stylelint which will check sort order for non declarati

[2016-07-02 18:13] gajus commented on #32
I disagree. This plugin could support both syntaxes without introducing backwards breaking changes.

[2016-07-02 18:19] hudochenkov commented on #32
I'll be glad if you right because it would be a great feature. Feel free to make a PR if it only adds new syntax and won't break anything.

[2016-07-02 18:34] jeddy3 commented on #32
This is an excellent idea! It looks like stylefmt [added support](https://github.com/morishitter/stylefmt/releases/tag/v4.1.0) for `declaration-block-properties-order` yesterday *using postcss-sorting*. Is there a chicken and egg thing going on here? Either way, it's feels like things are coming together nicely and that your stylelint plugin will be the missing piece of the puzzle :)

[2016-07-02 18:39] hudochenkov commented on #32
@jeddy3 Yeah, I found out about this support from PostCSS twitter :) And as I can see, it's very limited support. I'm going to fix that too :) It's won't be a full support, because stylelint have “flexible” order option, and postcss-sorting do strict order only. But I will change stylefmt's part of `declaration-block-properties-order` to support stylelint's rule as close as possible.

[2016-07-02 19:07] jeddy3 commented on #32
That makes sense to me. I'm not sure how many people use the "flexible" order option, but I suspect it's a much smaller number than the combined total of people who use alphabetical or define a strict custom order. If someone does use the "flexible" order option, then they can always PR the support themselves if they want it :)

[2016-07-30 18:25] joemaller commented on #23
Being able to drop a config dotfile in a project repo would be great, though this seems like something that really needs to be solved upstream by PostCSS.

Long, relevant discussion about adding dotfile cofigs:  postcss/postcss#477

A few projects I'm working on use CSSComb over PostCSS-Sorting, specifically because of the easily shared `.csscomb.json` config file. There do seem to be a lot of tho

[2016-08-05 08:19] rusongyu opened #34 "function is no good in LessCSS"
/_before_/
.fn1(){}
.fn2(){}
.trans{
.fn1();
.fn2();
}

/_after_/
.fn1(){}
.fn2(){}
.trans{
.fn1()
.fn2()
}

The semicolon is disappear. I need it.
Another question, the function is no set postion,I hope the function is before the attitudes.

[2016-08-05 10:05] mrmlnc commented on #34
Please, move your question to [postcss-less](https://github.com/webschik/postcss-less) repository.

[2016-08-12 21:43] lavezzi1 opened #35 "Is it possible to add a name for config file?"
I wonder if I can add a custom name for the config file? I hate how it looks like in the notification when I press cmd + s. I want to see something like "Successfully sorted using "My name of the team" config. Thanks.

[2016-08-13 07:30] hudochenkov commented on #35
How do you using it? What is your setup?

[2016-08-16 07:51] paazmaya commented on #18
http://stylelint.io/user-guide/rules/declaration-block-properties-order/ has the simplest option to use `"alphabetical"` sorting.
While `stylefmt` has this feature supported for the more complicated use cases, the alphabetical sorting is missing.
Easiest way to add it in `stylefmt` would be via this `postcss-sorting`, since it is already used for the giving rule.

Would be possible to add `"alphab

[2016-08-16 07:53] hudochenkov commented on #18
@paazmaya it's possible, but this order has low priority right now.

[2016-08-22 13:06] lavezzi1 commented on #35
I just created a file in my root folder '.postcss-sorting.json' and wrote down my rules.

[2016-08-22 13:13] lavezzi1 opened #36 "Why media queries at the bottom?"
When I write something like this:

[code]

For some reason it will be sorted to this:
[code]

In this case modifier no-padding doesn't apply because media query overwrite the modifier. How to fix that?

My config is:

[code]

[2016-08-22 13:50] hudochenkov commented on #36
You need to add `@media` to config, otherwise `@media` rules will be in the end of a rule.

[code]

[2016-08-22 13:50] #36 closed

[2016-08-22 13:52] hudochenkov commented on #35
Are you using it as a PostCSS plugin or as a plugin for an editor (which one)?

[2016-08-22 13:59] lavezzi1 commented on #35
As plugin for Atom editor.

[2016-08-23 18:10] hudochenkov commented on #35
In this case you should create an issue in https://github.com/lysyi3m/atom-postcss-sorting repository, because current repository is for PostCSS plugin only.

[2016-08-23 18:10] #35 closed

[2016-09-01 07:01] Meshock commented on #23
Maybe, as idea, should make the ability to use sort settings from config stylelint?

[2016-09-01 10:18] hudochenkov commented on #34
Are you sure it's not a problem with a Less parser?

[2016-09-11 08:10] P233 commented on #5
hi @hlomzik How do you add config in `.postcssrc.json`?  I tried to add
[code]
into `~/.postcssrc.json`. But that doesn't seem to work.

Thanks

[2016-09-11 08:41] hudochenkov commented on #5
@P233 looks like you need to use `--config` parameter https://github.com/postcss/postcss-cli#--config-c

[2016-09-11 11:07] P233 commented on #5
Thanks, the `--config` parameter works great!

[2016-09-12 15:19] Aaron-Pool opened #38 "Feature request: Add label to grouping config which adds a comment above the group"
Example Input:
[code]

Example Output:
[code]

This would make it substantially easier for new team members to understand why we've sorted things the way we have, which would make the style sheets more navigable in general.

[2016-09-13 10:50] mrmlnc commented on #34
See `postcss-less v0.15`

[2016-09-28 19:16] oleksiibilous opened #39 "alphabetical.json is missing when installing v1.6.1 from npm"
Hello

npm installs `v1.6.1` without `alphabetical.json`

Thank you for your work😊

[2016-09-29 17:00] hudochenkov commented on #39
`1.7.0` released.

[2016-09-29 17:00] #39 closed

[2016-10-06 17:13] Blindmikey opened #40 "Feature request: Consider "&", "&:" and "&::" as non-children for positioning."
eg)

[code]

input:

[code]

requested output:

[code]

Where `&`, `&:`, and `&::` are treated the same as immediate properties.

[2016-10-11 03:13] morishitter opened #41 "Sort properties with vendor prefixes by alphabetical"
I tried to fix this issue in stylefmt. https://github.com/morishitter/stylefmt/issues/175

But, declaration-block-properties-order rule of stylelint sorts properties with vendor prefixes by alphabetical order, so if it's possible, would you change its order according to stylelint one's?

[2016-10-11 09:18] hudochenkov commented on #41
I'll do it in `2.0` because it breaks backward compatibility. Right now prefixed properties don't sort between themselves.

[2016-10-11 09:33] #32 closed

[2016-10-11 13:05] hudochenkov commented on #38
This feature has a little relevance to what plugin does. So I'm not going to add this. It can be another plugin, which consume postcss-sorting's config and add description comments.

[2016-10-11 13:05] #38 closed

[2016-10-11 16:50] Aaron-Pool commented on #38
Ok! I understand the distinction. I would say that having a css sorting plugin provide a labeling mechanism for the different sections it sorts style rules into makes intuitive sense to me, but I can understand if you disagree.

[2016-10-22 10:42] hudochenkov opened #43 "Release plan for 2.0.0"
There are great tools to enforce code style and order in stylesheets: [stylelint](http://stylelint.io/) with its plugins, [stylefmt](https://github.com/morishitter/stylefmt), and postcss-sorting. My main idea for the new release was to handle in postcss-sorting only rules sorting, and no empty lines handling. I wanted to integrate this plugin into stylefmt, so users can use only one tool to format

[2016-10-23 03:24] lavezzi1 opened #44 "Why some flexbox properties go down?"
Typical example:

[code]

That is very annoying!

I use yandex preset. How to fix that?

[2016-10-23 03:30] #44 closed

[2016-10-29 17:13] hudochenkov commented on #43
declaration-block-properties-order [is going to be deprecated](https://github.com/stylelint/stylelint/issues/2010) in stylelint `8.0.0`. I'll pause `2.0.0` development for a while.

[2016-11-02 16:33] Alecto opened #45 "Dont sorting on save"
// Set true to sort on save every file with supported syntax
  "sort-on-save": true

Yesterday set plugin, checked - worked well.
Today, it stopped sort when saving.

[2016-11-02 16:47] hudochenkov commented on #45
This plugin doesn't have `sort-on-save` option.

[2016-11-02 16:47] #45 closed

[2017-01-12 11:45] #43 closed

[2017-01-12 11:50] hudochenkov commented on #41
`2.0` released, but prefixes don't sort alphabetically. The reasons are:

1. `declaration-block-properties-order` will be deprecated in the next major stylelint release.
2. [`stylelint-order`](https://github.com/hudochenkov/stylelint-order) will be used instead and it have no restriction on prefixes order.

I'll take a look at `stylefmt` in a few days, regarding `declaration-block-properties-order

[2017-01-12 11:50] #41 closed

[2017-01-12 11:51] #34 closed

[2017-01-12 11:53] hudochenkov commented on #25
It's possible in `2.0`! More info https://github.com/hudochenkov/postcss-sorting/blob/master/docs/order.md

[code]

[2017-01-12 11:53] #25 closed

[2017-01-12 11:54] #14 closed

[2017-01-12 11:54] #5 closed

[2017-01-12 14:43] peterleger opened #46 "Error: module.js:339"
The settings in **v2.0.0** (default and user) are updated to:

[code]
If I run PostCSS, it throws an **error**:

[code]
How can this be solved?

[2017-01-12 15:08] #46 closed

[2017-01-12 15:08] breams commented on #46
How did you solve this? I'm getting the same error.

[2017-01-12 15:13] hudochenkov commented on #46
There was a problem with style sheet itself, I suppose. But what was it, @peterleger?

[2017-01-12 15:13] hudochenkov commented on #46
@breams what is your style sheet?

[2017-01-12 15:28] peterleger commented on #46
@breams, @hudochenkov  I didn't solve it. It is an issue within Sublime Text 3. So I opened up a new issue [here](https://github.com/hudochenkov/sublime-postcss-sorting/issues).

[2017-01-12 15:29] breams commented on #46
Ok, I will join that thread.

[2017-01-14 01:26] wroughtec opened #47 "Respecting stylelint-order value for emptyLineBefore"
I currently use your stylelint-order to help keep our css in a clear group and structure using a line break between each group.

I just recently updated postcss-sorting to the v 2 branch as I had hoped to share the config so I was not maintaining 2 different configs however I noticed a slight discrepancy:

In stylelint-order you use the "always" value for the empty line:
[code]

While in postcss-s

[2017-01-14 08:24] hudochenkov commented on #47
Had you shared config somehow between stylelint-order and postcss-sorting before? Do you share it somehow now?

There is no way to just use .stylelintrc for postcss-sorting, because stylelint's rules and this plugin's rules have different names.

Stylelint:

[code]

postcss-sorting:

[code]

So it already needs some config conversion. Since it needs conversion, it can use more simple values then.

[2017-01-14 12:40] wroughtec commented on #47
True if you add stylelint in directly like that they do not match but internally the blobs are almost apart from  same and its easy to set the rules without needing the entire blob:

```'properties-order': config.rules['order/declaration-block-property-groups-structure']```

In v1 no I could not you the rules directly (well I could in an earlier version of stlyelint) and had to write some rules to

[2017-02-09 19:30] Alecto opened #48 "postcss-sorting recently stopped working"
I made a mistake, re-create in a different branch.

[2017-02-09 20:18] #48 closed

[2017-02-24 21:57] jakelauer opened #49 "Feature request: Line break in between groups of properties"
In the case of this rule: https://github.com/hudochenkov/postcss-sorting/blob/master/docs/properties-order.md#array-of-unprefixed-property-namesarray-of-group-objects

I would like an option to add a line break in between each provided group object, which would let me separate  the groups visually in the processed CSS. In this situation, the given/before/after would look like this:

Given
[code]

[2017-02-24 22:01] hudochenkov commented on #49
You can do this with `emptyLineBefore`:

[code]

[2017-02-24 22:01] #49 closed

[2017-03-13 15:17] hanakin opened #50 "gulp & atom-plugin compatibility"
I am currently using https://github.com/lysyi3m/atom-postcss-sorting plugin in atom which requires the use of `.postcss-sorting.json` in my project root. I am also using gulp to render all my scss and performing the following on the rendered css.

[code]

but it does not seem to be working...

[2017-03-13 15:21] hudochenkov commented on #50
Could you share your `.postcss-sorting.json`?

[2017-03-13 15:22] hudochenkov commented on #50
Oh, you use following ES6 syntax `sorting({ sortOrder })` which is equivalent to ES5 `sorting({ sortOrder: sortOrder })`. Try to remove curly brackets: `sorting(sortOrder)`.

[2017-03-13 16:41] hanakin commented on #50
i tried it with no luck

here is my sorting file contents

[code]

[2017-03-13 17:40] hudochenkov commented on #50
This should work theoretically, if `sortOrder` is an object with every option for `postcss-sorting`:

[code]

If it's not working, are you sure your CSS hasn't sorted yet? :)

If you still can't found a problem, please create a repository with reproducible problem.

[2017-03-13 18:38] hanakin commented on #50
hmm seems this may be an issue with `stylefmt` https://github.com/morishitter/stylefmt/

`postcss-sorting` sorts everything correctly, but then `stylefmt` is run which unsorts everything somehow even though the order is the same in my `stylelintrc.json` file and in my `postcss-sorting.json` file

here is my full task

[code]

[2017-03-13 19:04] hudochenkov commented on #50
stylefmt has opinionated sorting order. It may sort differently, because it has [hardcoded order](https://github.com/morishitter/stylefmt/blob/ed711a38bec3c0b1c17a219d9c357e25c51c211a/lib/formatOrder.js#L13-L19).

[2017-03-13 19:04] #50 closed

[2017-04-11 21:19] genmacg opened #51 "emptyLineBefore in "order"?"
Is there any way to add empty lines for order rules? Something like this:

[code]

[2017-04-12 05:39] hudochenkov commented on #51
Yes, use [`at-rule-nested-empty-line-before`](https://github.com/hudochenkov/postcss-sorting/blob/master/docs/at-rule-nested-empty-line-before.md) option.

[2017-04-12 07:06] nickngqs commented on #51
I can't get that option to work, it keeps throwing me this error when I'm saving the file
Error trying to parse settings: Expected value in Packages/User/PostCSSSorting.sublime-settings:4:47

[2017-04-12 07:07] hudochenkov commented on #51
Show me your settings which throw an error.

[2017-04-12 07:09] nickngqs commented on #51
Hi sorry, update my comment above

[2017-04-12 07:09] hudochenkov commented on #51
Mine settings, if you're interested:

<details>
<summary>Click to see settings</summary>

[code]

</details>

[2017-04-12 07:11] hudochenkov commented on #51
Show me whole file, please. Your settings should be a valid JSON, otherwise Sublime Text can't parse it.

[2017-04-12 07:15] nickngqs commented on #51
<details><summary>Settings</summary><p>
[code]
</p></details>

[2017-04-12 07:17] hudochenkov commented on #51
You forgot to put `ignore` in quotes:

[code]

[2017-04-12 07:19] nickngqs commented on #51
Yup! i just realised after running a jsonlint, didn't know it's because of invalid json because I took it from the docs. [https://github.com/hudochenkov/postcss-sorting/blob/master/docs/at-rule-nested-empty-line-before.md](Docs)

So, should the docs be updated?

[2017-04-12 07:22] hudochenkov commented on #51
No, because it's valid JS and postcss-sorting could be configured with JS in many environments. You have to remember that your environment (Sublime Text) requires configs in JSON.

[2017-04-12 07:52] nickngqs commented on #51
Ahh, that explains. Thanks for the explanation 👍  :)

[2017-04-12 09:26] genmacg commented on #51
Note to self: check the docs properly before asking 😀

Thx for the help 👍

[2017-04-12 09:27] #51 closed

[2017-04-22 19:19] rhcarlosweb opened #52 "This still working?"
I'm trying to use this, but apparently don't work anymore, i don't know if i'm doing something wrong, but this don't sort my rules of .scss file 😢

[2017-04-22 19:25] #52 closed

[2017-05-09 11:11] genmacg opened #53 "@if @else"
Hi,

is there a way to keep `@else` in the same line as the closing bracket of the `@if` statement? I want to avoid following behavior.

Before (should stay like this and not turn into what is shown in After):
[code]

After:
[code]

My settings:
[code]

[2017-05-09 11:43] hudochenkov commented on #53
Sure, use `ignoreAtRules` option:

[code]

[2017-05-09 12:09] genmacg commented on #53
Thx, worked like a charm ;-)

[2017-05-09 12:09] #53 closed

[2017-05-09 12:20] genmacg opened #54 "Keep empty line before (comment + nested)"
How can I keep the empty line before the comment for the ul element? It seems like "clean-empty-lines" overrules "comment-empty-line-before". Thanks again for the help. I really appreciate the work you're doing.

Before:
[code]

After:
[code]

Config:
[code]

[2017-05-12 16:00] UltraDosaaf opened #55 "Empty lines removal in 2.x version"
Can't make it clear all empty lines:
[code]
What am I doing wrong?

[2017-05-12 16:16] hudochenkov commented on #55
`clean-empty-lines` is an independent option.

[code]

[2017-05-13 06:52] hudochenkov commented on #54
There is no conflict. From description:

I can't add support for `//` comments now, because it would be a breaking change. The only thing you can do now is to use standard comments `/* */`.

[2017-05-13 06:52] #54 closed

[2017-05-13 07:02] hudochenkov commented on #18
As of now stylefmt has postcss-sorting integrated. It uses [`stylelint-order`](https://github.com/hudochenkov/stylelint-order) options.

In May or June, we'll release stylelint with autofixing, and I'll add autofixing to stylelint-order.

[2017-05-13 07:02] #18 closed

[2017-05-13 07:07] hudochenkov commented on #47
@wroughtec I won't change this, because I'll drop these options altogether in the next major version in favor of stylelint's soon coming autofixing.

stylefmt supports stylelint-order now.

[2017-05-13 07:07] #47 closed

[2017-05-15 07:19] UltraDosaaf commented on #55
Thank you!

[2017-05-15 07:19] #55 closed

[2017-05-15 07:29] UltraDosaaf opened #56 "Line after dollar var"
I need empty line after dollar variable. Maybe there is the option opposit to "dollar-variable-empty-line-before"?

[2017-05-15 07:52] hudochenkov commented on #56
No there isn't. Can you show different code examples and we'll figure out what configuration you need to enforce this?

[2017-05-15 08:11] UltraDosaaf commented on #56
Sure. Vars on top and separated with new line:
[code]

[2017-05-15 10:14] hudochenkov commented on #56
You might want this setting:

[code]

[2017-05-15 14:17] UltraDosaaf commented on #56
It clears now all empty lines except the one after dollar-rule )

[2017-05-24 16:49] Gespinha opened #57 "Working with SASS Syntax"
Hey there,

This package is amazing, bit it doesn't seam to be working on SASS Syntax files. Does it support SASS Syntax at all? If not, is it planned to support anytime soon?

Cheers!

[2017-05-24 16:54] hudochenkov commented on #57
Have you tried to use it with https://github.com/aleshaoleg/postcss-sass parser?

If postcss-sorting works with this parser, then great! Otherwise fill free to contribute these support.

[2017-05-24 17:28] Gespinha commented on #57
I've tried it now but its throwing me some errors, not sure if I'm using it right.

[code]

[2017-05-24 17:34] hudochenkov commented on #57
I'm guessing you're using `grunt-postcss`. Correct config:

[code]

[2017-05-24 21:21] Gespinha commented on #57
Great, thanks! Just tried that and it returns the following error:

`Cannot read property 'parse' of undefined`

Any clue on how do I set this parser variable and with what value?

[2017-05-24 21:55] hudochenkov commented on #57
Sorry, I don't know how to help :( I'm not using grunt-postcss and postcss-sass. Based on docs, it should work. Maybe `postcss-sass` author [could help](https://github.com/AleshaOleg/postcss-sass/issues/new) you configure it correctly with Grunt.

[2017-05-24 22:19] Gespinha commented on #57
Yes, you're right. Thanks for the help with the syntax! I'll check this with the author then.

[2017-05-24 23:42] AleshaOleg commented on #57
@hudochenkov hey, is `postcss-sorting` working with Sass syntax? If not, could we implement this feature?

[2017-05-24 23:48] AleshaOleg commented on #57
This is not, problem of `postcss-sorting`. Can be closed, I think

[2017-05-24 23:50] Gespinha commented on #57
If I remove postcss-sorting and run my task with this config:

[code]

Its still contains the issue. Any chance postcss-sass is converting the file into something else?

[2017-05-25 07:09] hudochenkov commented on #57
@AleshaOleg theoretically it should work if syntax correctly works with PostCSS.

[2017-05-25 07:09] hudochenkov commented on #57
Closing this

[2017-05-25 07:09] #57 closed

[2017-05-25 07:14] hudochenkov commented on #56
There is no `*-after` options. Your case is unusual. Most of developers group variables in one place, declaration in another place. In your case variables all over the rule.

[2017-05-25 07:14] #56 closed

[2017-05-25 10:26] Gespinha opened #58 "Targeting custom comments on the stylesheets"
Hey,

Just a quick feature request: having a way to target custom comment patterns on the stylesheets pages would be great!

For example, if I have the following code:

[code]

I wanted to have a regex or something that allowed me to specifically target my title and configure how many spaces I wanted before and after, in order to properly organise my files.

Wouldn't this be cool?

[2017-05-25 10:28] hudochenkov commented on #58
Yeah, it's cool. But not related to `postcss-sorting` scope. You can create your own PostCSS plugin for this thing.

[2017-05-25 10:44] Gespinha commented on #58
It would be enhancing postcss-sorting's capabilities of sorting and organising your CSS code, don't you agree?

[2017-05-25 10:48] hudochenkov commented on #58
I'll remove all options not related to sorting functionality (empty lines, etc.) in the next major version. Your request is out of responsibility for this tool, sorry.

[2017-05-25 10:48] #58 closed

[2017-05-25 10:50] Gespinha commented on #58
Ah, ok, I understand. Are the spaces going to be added into a different plugin?

[2017-05-25 10:50] hudochenkov commented on #40
In `2.1` you can [specify selector pattern](https://github.com/hudochenkov/postcss-sorting/blob/master/docs/order.md#extended-rule-objects) for sorting!

[2017-05-25 10:50] #40 closed

[2017-05-25 10:54] hudochenkov commented on #58
Yes. We are working on adding autofixing functionality to [stylelint](https://stylelint.io/). Code `*-empty-line-before` rules are ready, but new stylelint version isn't released yet. Also I'll add sorting autofixing to [`stylelint-order`](https://github.com/hudochenkov/stylelint-order). So in the future you can use only one tool to lint and format your stylesheets — stylelint. I expect it will ha

[2017-05-25 10:58] hudochenkov commented on #23
I won't add config support for postcss-sorting. But there are good news!

We are working on adding autofixing functionality to [stylelint](https://stylelint.io/). I'll add sorting autofixing to [`stylelint-order`](https://github.com/hudochenkov/stylelint-order). So in the future you can use only one tool to lint and format your stylesheets — stylelint. It means, you'll have config support, and you

[2017-05-25 10:58] #23 closed

[2017-05-28 05:21] nickngqs opened #59 "emptyLineBefore not working?"
Recently my emptyLineBefore is not working. I didn't change any config, it just stop working. I looked up the release but can't find any changes that would affect this.

[code]

[2017-05-28 08:54] hudochenkov commented on #59
Could you, please, provide a stylesheet where `emptyLineBefore` doesn't work?

What version do you use?
How do you use postcss-sorting (via gulp-postcss, text editor plugin, etc.)?

[2017-05-28 09:10] nickngqs commented on #59
I'm using PossCSSSorting v.2.1.0 in Sublime Text plugin.

[code]
It used to add emptylines before group

Now it collapses them
[code]

[2017-05-28 14:26] #59 closed

[2017-05-28 14:29] hudochenkov commented on #59
Thanks you for reporting!

It was a problem with `sublime-postcss-sorting`. I released new version `2.1.1`. It should be available in Package Control in an hour or two.

[2017-05-29 08:21] vwxyutarooo opened #60 "Bug? emptyLineBefore vs declaration-block-properties-order"
I think `emptyLineBefore` can't override `declaration-block-properties-order`. Which makes dedlock each other.

`.stylelintrc`

[code]

I supposed this shuld no errors.

[code]

But this error returned actually.

`Unexpected empty line before declaration`

Then, I tried to such as following

[code]

Also an error returns as following.

`Expected an empty line before propety -webkit-overflow-scroll

[2017-05-29 09:41] vwxyutarooo commented on #60
My mistake, this is stylelint-order issue...

[2017-05-29 09:41] #60 closed

[2017-05-30 17:51] dnichols opened #61 "No way to insert newline above properties"
There appears to be no way to achieve this behavior:

[code]

becomes

[code]

[2017-05-30 18:51] hudochenkov commented on #61
There is [`declaration-empty-line-before`](https://github.com/hudochenkov/postcss-sorting/blob/master/docs/declaration-empty-line-before.md).

[2017-05-30 19:07] #61 closed

[2017-05-30 19:11] dnichols commented on #61
I was using `declaration-nested-`

[2017-06-01 16:37] TrevorSayre opened #62 "Use same properties-order logic as stylelint-order"
According to the [properties-order definition](https://github.com/hudochenkov/stylelint-order/blob/master/rules/properties-order/README.md) for [stylelint-order](https://github.com/hudochenkov/stylelint-order):

This creates an inconsistency with how `postcss-sorting` handles `properties-order`.

If I have the following rule:

[code]

And the following css:

[code]

The css linting by `stylelint-o

[2017-06-01 17:26] hudochenkov commented on #62
You're right. This inconsistency will be removed in the new stylelint-order version.

[2017-06-01 18:08] TrevorSayre commented on #62
I waffled back and forth between whether this should be a `postcss-sorting` issue or a `stylelint-order` issue. So is a future version of `stylelint-order` removing this behavior mentioned in their README? It seems like `postcss-sorting` should instead adopt that behavior. Or perhaps users should have a config flag to opt-in/out of this behavior.

[2017-06-01 18:11] hudochenkov commented on #62
Opt-out or having this behaviour is too much shifting part. New behavior will be little stricter. In fact, it's not a new behaviour. I will remove loose behaviour. So right now you can specify every property you're interested in your config, and it still be valid in the new version.

[2017-06-01 19:32] TrevorSayre commented on #62
It's not clear to me which direction this is going.

If I define the ordering for `border` then all the `border-*` properties will have to be in the same ordering position as `border` according to `stylelint-order`. But according to `postcss-sorting`, I have to list out all the `border-*` rules in order to get them to group with `border` property. This seems like more effort.

Which is being favor

[2017-06-01 20:24] hudochenkov commented on #62
If you list out all the `border-*` properties, than this config will work exactly the same in `stylelint-order` and `postcss-sorting` right now and in future versions.

It is, but it's one time effort, and you don't have to write down every property from the head. You can use [this](https://gist.github.com/hudochenkov/b7127590d3013a5982ed90ad63a85306#file-default-json) as a reference.

[2017-06-01 20:35] TrevorSayre commented on #62
Alright, I understand the direction you're taking. Thank you for taking the time to explain your thoughts.

[2017-06-04 10:43] #62 closed

[2017-06-05 02:46] P233 opened #63 "Add emacs package"
Hi Aleks,

I created an Emacs package to use the command line command (e.g. `postcss -u postcss-sorting -c ~/.postcssrc.json`) to sort the current css buffer in Emacs.

The GitHub repo is https://github.com/P233/postcss-sorting.el
It's available on [melpa](http://melpa.org/).

Could you please consider to add it in the REAME?

All the best,
Peiwen

[2017-06-05 04:25] ghost opened #64 "Disable sorting for some at-rules"
How to disable sorting for some at-rules? I use the sublime text plugin and want to keep the `for`, `while` and `each` directives in the original place.

I want it to be this way:

[code]

**Good result:**

[code]

But when saving, it reorder as follows **(move the @for directive up and want to avoid it)**:

[code]

**Bad result:**

[code]

This alters the order of the selectors in the resulting s

[2017-06-05 09:20] hudochenkov commented on #63
Thank you for making this plugin!

Added to readme :)

[2017-06-05 09:20] #63 closed

[2017-06-05 22:02] guilhermehn opened #65 "Make invalid config error messages more informative"
`at-variables` from [stylelint-order](https://github.com/hudochenkov/stylelint-order) is not considered a valid `order` value by [lib/validateOptions.js](https://github.com/hudochenkov/postcss-sorting/blob/e917e8f3db1cb89c51a27d0109008809b4863e80/lib/validateOptions.js#L158).

## Example

### postcss.js

[code]

### a.css

[code]

When I run `$ node postcss.js` the response is:

`postcss-sorting:

[2017-06-05 22:06] hudochenkov commented on #65
Yes, `at-variables` and `less-mixins` aren't supported in postcss-sorting. Even Less wasn't tested there. I'm not interested in working on Less support, but PRs are welcome.

[2017-06-05 22:58] guilhermehn commented on #65
I do not need the Less support (who even uses Less these days?), but someone of my team just copy-pasted some predefined config when creating our shared stylelint-order config, which came with the `at-variables` value. We lost a good part of the day trying to figure out why the stylefmt was not working and just printing the error message.

It would be nice to at least have a friendlier error messa

[2017-06-06 06:11] hudochenkov commented on #65
I was surprised by that too. I know Wikipedia developers use it.

Thank you for suggestion! I'll think how to make error messages more useful.

[2017-06-06 07:09] lucascono commented on #53
Hello @hudochenkov:

I'm going crazy, almost on the point of crying.
I have this configuration in the sublime text plugin:

[code]

But insert an empty line before "else". What am I doing wrong?
The result is:

[code]

[2017-06-06 19:42] hudochenkov commented on #53
@lucascono I've tried your config and it works like expected. No new line created before `@else` in this code:

[code]

[2017-06-09 16:48] hudochenkov commented on #64
There is no solution yet. `v1` had this feature (disabling by special comments in a style sheet) but it was removed, due complexity `v2`. `v3` might have this feature, but I don't have time to implement it now.

If you want to try to add this feature back, here is [a code for it](https://github.com/hudochenkov/postcss-sorting/blob/1.7.0/index.js#L16-L29) in `v1`.

[2017-06-27 00:45] dwighthouse opened #68 "Alphabetical Sorting Order Non-Stable and Broken for some properties"
Using postcss-sorting 3.0.0, the most recent version.

I have found a case where properties are sorted into a non-sensical order when using the option `'properties-order': 'alphabetical'`. Sorting causes some vendor-prefixed properties to sort below non-prefixed variations. There are other issues with the algorithm incorrectly sorting vendor-prefixed properties when the non-prefixed string doesn't

[2017-06-27 06:33] hudochenkov commented on #68
Thank you for detailed explanation and providing test repo!

PostCSS Sorting intended to use on source files, not on output files. So developer has predictable order in her style sheets.

This is unacceptable. I'll dig into the problem.

Technically, no. Because if you remove prefixes, `align-items` fill be first. `postcss-sorting` doesn't know about different flexbox spec implementations. It only

[2017-06-27 15:30] dwighthouse commented on #68
I disagree with the reasoning here. There is no "standard way of prefixing". By definition, prefixing is working with pre-release modes that will change in the future. There is no reason to expect that the property names of the prefixed variations to be textually equivalent (or functionally equivalent for that matter) to the unprefixed versions, as my case clearly demonstrates. If you won't make t

[2017-07-08 22:44] hudochenkov commented on #68
I've fixed inconsistent sorting. Please, upgrade to `3.0.1`.

I'll add description about prefixed properties, which have completely different name, later.

[2017-08-08 15:02] gkatsanos opened #69 "Support for Jetbrains/PHP/Webstorm?"
I just installed the POStCSS plugin for my PHPStorm but I see there's no support for the sorting plugin.

Any idea how to set it up manually?

[2017-09-14 18:22] hudochenkov commented on #69
I don't use JetBrains products, so can't say for sure. I guess it will be similar to configuring [ESLint](https://blog.jetbrains.com/webstorm/2016/08/using-external-tools/), but you have to use [postcss-cli](https://github.com/postcss/postcss-cli) to be able run `postcss-sorting` in CLI.

[2017-09-14 18:29] gkatsanos commented on #69
Ah yes, External tools should do it. Many thanks.

[2017-09-14 18:29] #69 closed

[2017-09-20 21:25] hudochenkov commented on #68
Description added in https://github.com/hudochenkov/postcss-sorting/commit/96810aaa346896674614052ba14b887f22872f80.

[2017-09-20 21:25] #68 closed

[2017-09-24 20:59] hudochenkov commented on #65
Fixed in `3.0.2`. Thank you for a suggestion.

[2017-09-24 20:59] #65 closed

[2017-09-24 22:31] guilhermehn commented on #65
Thank you!

[2017-10-05 09:56] baglio opened #70 "postCSS suddenly stopped working in VSCode"
I'm using postCSS Sorting in VSCode from quite a lot without had a issue. I have my configuration and the shortcut correctly set; everything worked just fine.

Since yesterday, as I execute the command via the shortcut I get the warning message: _"command 'postcssSorting.sort' not found"_. Executing the command via the control panel, instead, gives me no results.

No new update where made availabl

[2017-10-05 10:15] mrmlnc commented on #70
Sorry, https://github.com/mrmlnc/vscode-postcss-sorting/issues/74 😩

[2017-10-05 10:52] #70 closed

[2017-10-05 15:24] mrmlnc opened #71 "Ability to throw error if user has broken config"
### Links

  * https://github.com/mrmlnc/vscode-postcss-sorting/issues/74

### Description

Now error of broken config show by [`console.warn`](https://github.com/hudochenkov/postcss-sorting/blob/master/index.js#L19-L26). If I use this package inside editors (VS Code) I cannot read message of error without using debugger (not user friendly way).

### Proposal

Use `throw` or provide option for it.

[2017-10-09 09:55] tohuw opened #72 "Clarification on Using Via postcss-cli"
Per #42, it isn't clear how to use this command via CLI. I tried the following, and no sorting occurred in my test file:

    postcss test.css -u postcss-sorting -c .postcssrc.json -r --no-map
    ✔ Finished test.css (11 ms)

Test file:

    body {
      background-color: red;
      font-size: 1em;
      margin-right: 2rem;
      line-height: 4;
      border: 1px solid purple;
    }

[2017-10-09 09:58] tohuw commented on #72
Whoops, my .postcssrc.json:

    {
	"properties-order": [
		"margin",
		"padding",
		"border",
		"background"
	]
    }

postcss-sorting is v4.1.1, by the way.

[2017-10-09 18:07] mrmlnc commented on #72
Why you think that `postcss-sorting` supports config in the `.postcssrc.json` file?

[2017-10-09 18:10] tohuw commented on #72
@mrmlnc I'm not confident of the syntax of the sorting file, and welcome any commentary on that also. Right now, I just can't get this plugin, or postcss-sorting itself via CLI, to work at all. Any help is appreciated. Thanks!

[2017-10-09 18:46] tohuw commented on #72
Enhanced the test case a bit:

## Contents of `test.css`

    body {
      border: 1px solid purple;
      background-color: red;
      font-size: 1em;
      margin-right: 2rem;
      line-height: 4;
      display: block;
    }

## Contents of 'sort.json'

		{
			"order": [
				"custom-properties",
				"dollar-variables",
				"declarations",
				"at-rules",
				"rules"
			],

			"properties-order"

[2017-10-09 20:21] hudochenkov commented on #72
@tohuw I never used PostCSS CLI, but I see your config is not what PostCSS CLI expects. Please, take a look at its [documentation](https://github.com/postcss/postcss-cli#config).

[2017-10-10 18:31] tohuw commented on #72
Ack, you're completely right, of course. I thought I could simply pass the options for your relevant plugins to it, but I now realize I need a formal structure (which made plenty of sense when I RTFM). It works now, thanks so much!

This is a working css sort test with `postcss-cli`:

## Contents of `test.css`

    body {
      border: 1px solid purple;
      background-color: red;
      font-size

[2017-10-10 18:31] #72 closed

[2017-10-10 19:10] hudochenkov commented on #72
@tohuw would you mind creating a documentation PR for using this plugin via PostCSS CLI, please? It would help other users.

[2017-10-18 21:29] hudochenkov commented on #71
I can't replace `console.warn` with `throw` without releasing new major version. And release major with this change only isn't looks good.

Will it be enough if postcss-sorting will support new option `fail-on-incorrect-config`? (Better name idea is welcome. Will you be able to change your plugin to use this new option (i. e. add this option to user's config before running postcss-sorting from you

[2017-10-20 14:42] gkatsanos commented on #69
@hudochenkov could you provide an example on how to run postcss-sorting via the cli and with an SCSS parser?

[2017-10-20 14:50] hudochenkov commented on #69
Check https://github.com/hudochenkov/postcss-sorting#command-line Also install `postcss-scss`.

Your `postcss.config.js` might look like:

[code]

Hope it helps. I've never used this plugin via CLI.

[2017-10-24 21:49] mrmlnc commented on #71
Yeap, as you want. Just want to be more friendly for users.

Maybe `strict-validate` or `throw-validate-error`.

[2017-10-30 11:20] hudochenkov commented on #71
Thank you for your patience. `3.1.0` released. Use `{ 'throw-validate-errors': true }`.

[2017-10-30 11:20] #71 closed

[2017-12-24 22:23] paallaire opened #75 "Error when complile : Unknown word with variable interpolation ( SASS )"
**Example (Gulp):**

[code]

**Example (SASS) :**

[code]
**Error**

events.js:182
      throw er; // Unhandled 'error' event
      ^
CssSyntaxError: ...\styles\_shame.scss:15:3: Unknown word

The problem seems to come with "#{$loader}".
If on replace it with a CSS selector like ".loader"... its works

[2017-12-24 22:33] hudochenkov commented on #75
It's because PostCSS doesn't understand SCSS by default. You [need to use](https://github.com/postcss/gulp-postcss#passing-additional-options-to-postcss) custom parser [`postcss-scss`](https://github.com/postcss/postcss-scss).

[2017-12-24 22:33] #75 closed

[2018-01-05 12:14] NE-SmallTown opened #76 "[Question]How to sort declarations?"
It looks like that currently we can't sort different declarations, so, is there any way to solve this like csscomb or stylefmt?

[2018-01-05 12:15] NE-SmallTown commented on #76
Sorry, found [this](https://github.com/hudochenkov/postcss-sorting/blob/master/lib/properties-order/README.md)

[2018-01-05 12:15] #76 closed

[2018-01-05 12:52] NE-SmallTown opened #77 "[Question]Consider adding reg type in properties-order"
If do this, we can just use `/^margin/` rather than `margin`, `margin-top`, `margin-right` ....

[2018-01-05 12:59] hudochenkov commented on #77
It won't going to happen. Explanation in related repository https://github.com/hudochenkov/stylelint-order/issues/43#issuecomment-331741788:

[2018-01-05 12:59] #77 closed

[2018-02-05 12:49] dnichols opened #78 "Extend sorting rule from another file"
Similar to an eslintrc file. Is this possible?

[2018-02-05 22:45] hudochenkov commented on #78
Plugin itself doesn't look for any config files. But it's possible to store settings as a JSON, then `require()`, and pass it to plugin in your build tool configuration.

Text editor plugins support config files as well. Refer to their documentation.

[2018-02-20 20:26] #78 closed

[2018-04-06 09:14] hudochenkov commented on #75
@davidetruffo do you have [`postcss-scss`](https://github.com/postcss/postcss-scss) installed?

[2018-04-06 09:57] davidetruffo commented on #75
@hudochenkov Yep, I did have it.

I'm using past tense here, because I then switched to stylelint (and stylelint-order). I'm already using stylelint for linting and there's not much sense in using different tools with different configs when I can accomplish everything I need with one :)

[2018-05-18 11:42] DarkPreacher opened #79 "Less variables order in declaration block"
Code example:
[code]

Config from VS Code:
[code]

Expected output — like in example, got:
[code]

Less is able to produce valid css out of this, but it looks awkward I think.
Maybe there is some config to fix it?

[2018-05-18 11:49] hudochenkov commented on #79
Less variables are not supported currently. I think they could be supported. The keyword for them will be `at-variables`. Same as [stylelint-order](https://github.com/hudochenkov/stylelint-order/blob/master/rules/order/README.md#options) keyword for them.

I won't be working on it, but PR is welcome.

[2018-05-18 12:11] DarkPreacher commented on #79
I didn't know implementation already exists, made a PR https://github.com/hudochenkov/postcss-sorting/pull/80

[2018-06-20 18:38] hudochenkov commented on #79
Done in https://github.com/hudochenkov/postcss-sorting/pull/80

[2018-06-20 18:38] #79 closed

[2018-07-02 02:51] gucong3000 opened #81 "Feature request: Non-standard CSS compatible"
If I'm not mistaken because of the limitations here, `postcss-sorting` only supports the standard CSS:
https://github.com/hudochenkov/postcss-sorting/blob/master/lib/isRuleWithNodes.js#L4

Can we support HTML like this:
[code]

[2018-07-02 07:54] hudochenkov commented on #81
How to overcome this limitation? What AST `postcss-styled` (or `postcss-html`) gives?

[2018-07-04 11:51] nickngqs opened #82 "Migration to v3 Postcss Sorting"
Is postcss sorting suppose to work together with stylelint and stylelint-order? Or is this totally two different stuff now? Currently, i'm extremely confused which to use or how to make it even work for postcss sorting v3. Everytime i tried, i'll move back to v2.

From what i understand is the order groups has been move to stylelint-order. So does autosave not work for postcss sorting in sublime?

[2018-07-04 13:58] nickngqs commented on #82
Essentially i was using postcss-sorting to style format my scss. I have order and order groups and space in between to sort of format and beautify the spaces and order groupings. Should i go back to using v2? Im trying to find options for v2 and can't seem the locate them since they've move to v3 docs.

For example
[code]

becomes

[code]

[2018-07-04 14:46] hudochenkov commented on #82
Now I understand. v3 doesn't care about empty lines, only about order. To achieve what you want you to need to setup stylelint with stylelint-order plugin. And run `stylelint --fix`. I'm not aware of packages for Sublime Text which could run `stylelint --fix` on save. I think it's possible to create a [build system](https://www.sublimetext.com/docs/3/build_systems.html) in ST, and use [SublimeOnSa

[2018-07-04 18:04] nickngqs commented on #82
Ahh now that make sense, cause I only know of having npm run stylelint --fix on safe. I had the initial idea that postcss-sort will use stylelint internally. In the case, can you point me to your own v2 options list?

My current issue is actually trying to place certain at rules of include seprately. How would you advise me to do that?

[code]

to a line in between for specific at rules -> in this

[2018-07-04 20:09] hudochenkov commented on #82
[Here are the latest v2 docs](https://github.com/hudochenkov/postcss-sorting/tree/2.1.0). You can't enforce empty line between includes. But you can group them:

[code]

[2018-07-16 12:44] #64 closed

[2018-08-20 12:26] NE-SmallTown opened #84 "Could we support *.vue file?"
Seems it just support plain css file?

[2018-11-11 12:31] hudochenkov commented on #84
It might work with [postcss-html](https://www.npmjs.com/package/postcss-html) parser. At least this is how stylelint is able to lint Vue.

[2018-11-11 12:31] #82 closed

[2018-11-12 06:57] NE-SmallTown commented on #84
Yea, I use stylelint sort plugin for Vue right now and it works well

[2018-11-12 09:00] hudochenkov commented on #84
@NE-SmallTown does it work with `stylelint --fix`?

[2018-11-12 09:22] NE-SmallTown commented on #84
Haven't verify that because I use the node API(`{fix: true}`) and it seems ok

[2019-03-03 18:07] hudochenkov commented on #81
Released in `4.1.0`. Thank you for your syntaxes!

[2019-03-03 18:07] #81 closed

[2020-04-22 14:41] Unknow-max opened #89 "Compine at rules with properties in sorting"
Hi everyone,
In my sass workflow I use a lot of mixins (positioning, shapes, flexbox ecc). I would like instead of put these mixins above or under my properties to combine them together.
I will try to explain better.
Take this code:

[code]

Running postcss sorting will result:
[code]
Instead, I would like to combine the order of these at-rules and properties, something like this:
[code]

Is this

[2020-04-23 11:54] hudochenkov commented on #89
I'm afraid it's not possible with this plugin. And I don't have plans to make it possible.

[2020-04-23 11:54] #89 closed

[2020-09-08 15:51] akvadrako opened #91 "rule sorting"
The README says that this plugin will sort rules, but when I run the example, my rules are not sorted.

Is this by design? Is there a configuration option for sorting rules alphabetically?

[2020-09-17 00:43] hudochenkov commented on #91
Provide more information, please. How do you use it? How did you configure.

You need to enable properties sorting, because by default this plugin doesn't do anything. Option you're looking for:

[code]

[2020-09-17 08:53] akvadrako commented on #91
I don't have a setup anymore; I just wrote a script to do what I needed. But I'm not interested in properties - I want to sort the rules, like the README says.

[2020-10-04 17:35] hudochenkov commented on #91
There were might have been a misunderstanding what plugin does. It sorts what is inside rules and at-rules. It doesn't change the order for rules, which are top level rule in the file.

Anyway, looks like you don't need this plugin anymore. I'm closing this issue.

[2020-10-04 17:35] #91 closed

[2021-03-03 10:24] naxxateux opened #93 "Using astroturf composes"
Hi! Fantastic plugin you got here ;-)

I wonder how one can use it with astroturf composes (https://github.com/4Catalyzer/astroturf#composition-variables-etc)? I've tried to use it but got the `Unknown word` error. Should I put `composes` to `properties-order` array?

[2021-03-03 13:25] hudochenkov commented on #93
What is the content of the file? How do you run this plugin?

[2021-03-03 13:38] naxxateux commented on #93
I run this plugin in pre-commit hook (using lint-staged) like this (.lintstagedrc):
[code]

My ./postcss/sort looks like this:
[code]

My component code is in .js file:
[code]

[2021-03-03 20:02] hudochenkov commented on #93
You need to use use custom syntax for PostCSS, because PostCSS can't parse CSS-in-JS. You would need to use [`@stylelint/postcss-css-in-js`](https://github.com/stylelint/postcss-css-in-js), but it doesn't work with PostCSS 8.

[code]

I never tried this snippet, but theoretically this should work.

Alternatively you could use [stylelint](https://stylelint.io/) (with `--fix` flag) and [stylelint-or

[2021-03-12 10:06] naxxateux commented on #93
Thnx! I will try use your solutions.

[2021-03-12 10:06] #93 closed

[2021-07-09 23:09] wdfinch opened #99 "CSS-in-JS Sorting"
Hi so after reading the docs I understand that CSS-in-JS will not be sorted on the root level due to property interpolation. I was wondering if there was any way to override this behavior or have more control here. For example, for my use case, I only use property interpolations when I'm using a mixin. So for example something like this:

[code]

Therefore I would like the sorting to occur but aft

[2021-07-10 17:43] hudochenkov commented on #99
I was thinking about it recently. And I think it is possible to change plugin logic to allow sorting of properties if there is no interpolation between them. Like in your example.

I'm going to look into this in the future. But bear in mind it won't be soon. This plugin is working with PostCSS 8, but the [only available](https://github.com/stylelint/postcss-css-in-js) CSS-in-JS parser for PostCSS

[2021-07-10 18:07] wdfinch commented on #99
Ok thanks so much for the reply. That sounds great. Please let me know if you need any help.

[2021-11-24 15:25] eshimischi opened #100 "Bootstrap 5 support?"
Hi i have project with Bootstrap 5, my config for postcss-sorting has Order and Properties-Order sections, for instance:

`order: [
    'custom-properties',
    'dollar-variables',
    {
      type: 'at-rule',
      name: 'include',
    },
    {
      type: 'at-rule',
      name: 'include',
      hasBlock: true,
    },
    'declarations',
    {
      type: 'rule',
      selector: /^&/,
    },

[2022-05-23 17:35] sineway opened #103 "CSS in HTML"
Is it possible to add support for CSS inside `<style>` tag?

[2022-08-14 13:05] hudochenkov commented on #103
It is supported if PostCSS configured to use [`postcss-html`](https://github.com/ota-meshi/postcss-html) syntax.

[2022-08-14 13:05] #103 closed

[2022-08-14 13:07] hudochenkov commented on #100
Do you still has issue?

[2022-08-14 13:17] eshimischi commented on #100
Yes, this issue is still actual

[2022-08-14 13:20] hudochenkov commented on #100
Could you make a repository with minimal configuration to reproduce the problem? Then I can take a look what is going on. Most likely just a configuration error.

[2022-08-14 13:40] eshimischi commented on #100
yeah, i'll post link here a little bit later. thanks in advanced

[2022-08-23 10:23] eshimischi commented on #100
Hi. Here is my reproduction repo https://github.com/eshimischi/postcss-sorting-bootstrap-5-issue

[2022-08-23 10:32] eshimischi commented on #100
Seems like i've found what was not right with my configuration, has nothing to do with your plugin but postcss-preset-env

[2022-08-23 10:38] hudochenkov commented on #100
I'll close the issue then.

[2022-08-23 10:38] #100 closed

[2022-09-16 13:49] derSascha opened #105 "Feature request: sort simple media queries by query parameter values"
Thanks for the great postcss plugin! Having some trouble with Bootstrap that uses the fact that only the last matching rule is used in browser:
[code]
Sorting them in the wrong order breaks them. Not sure if it might be possible to sort simple media queries that contain only a `min-width` or a `max-width` query by numbers. Something like this:
[code]

[2022-09-16 13:51] derSascha commented on #100
@eshimischi how do you get this working with bootstrap? The media queries are somehow wrong ordered and the grid system does not work anymore after sorting (see #105).

[2022-10-17 08:41] vip30 commented on #99
Seems postcss is already version 8, any plan for handling the interpolation? I believe just putting those interpolation in the bottom can already help a lot

Thanks!